<aside class="aside">
  <div class="h5">On this page</div>

  <ul class="in-page-outline">
    <li>Requirements</li>
    <li>Configuration</li>
    <li>Customizing the container scanning settings</li>
    <li>Available variables</li>
    <li>…</li>
  </ul>
</aside>
