<div class="sidebar">
  <img src="assets/images/hamburger.svg" alt="Toggle navigation" class="the-berg">
  
  <ul class="nav-sidebar" style="margin-top:0;">
    <li><a href="">GitLab Docs</a></li>
    <li class="has-sub"><a href="#" class="sub-toggle" aria-label="Toggle sub navigation"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.54358 10.9128L9.45643 7.99999L6.54358 5.08714" stroke="#41419F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg></a><a href="">Installation</a></li>
    <li class="has-sub"><a href="#" class="sub-toggle" aria-label="Toggle sub navigation"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.54358 10.9128L9.45643 7.99999L6.54358 5.08714" stroke="#41419F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg></a><a href="">Analytics</a></li>
    <li class="has-sub"><a href="#" class="sub-toggle" aria-label="Toggle sub navigation"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.54358 10.9128L9.45643 7.99999L6.54358 5.08714" stroke="#41419F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg></a><a href="">Infrastructure</a></li>
    <li class="has-sub"><a href="#" class="sub-toggle" aria-label="Toggle sub navigation"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.54358 10.9128L9.45643 7.99999L6.54358 5.08714" stroke="#41419F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg></a><a href="">Projects</a></li>
    <li class="has-sub">…</li>
  </ul>
</div>
