// Layout

.header {
  align-items: center;
  background-color: $theme-indigo-900;
  display: flex;
  font-size: 0.875rem;
  height: 3rem;
  padding: 0 1rem;
  position: sticky;
  top: 0;

  a {
    border-color: transparent;
    color: $white;

    &:hover {
      border-color: $white;
      color: $white;
    }
  }
}

.main {
  margin: 0 auto;
  width: 100%;
  max-width: $measure;
  padding: 0 1rem;
}

// Main grid uses CSS grid for layout
.container {
  display: grid;
  grid-template-areas:
    "sidebar breadcrumbs"
    "aside aside"
    "main main";
  grid-template-columns: 3rem 1fr;

  @include breakpoint(lg) {

    grid-template-areas:
      "sidebar . breadcrumbs breadcrumbs ."
      "sidebar . main aside .";
    grid-template-columns: 18rem 1fr minmax(20rem, $measure) 14rem 1fr;
    padding: 0;
    column-gap: 0.75rem;
  }
}

.sidebar {
  // background-color: rgba($theme-indigo-950, 0.08);
  border-bottom: 1px solid $theme-indigo-100;
  grid-area: sidebar;
  padding: 1rem;

  @include breakpoint(lg) {
    // background-color: rgba($theme-indigo-950, 0.08);
    border-right: 1px solid $theme-indigo-100;
    padding: 1rem 1rem 1rem 0.75rem;
  }

  .the-berg {

    @include breakpoint(lg) {
      display: none;
    }
  }

  .nav-sidebar {
    color: $theme-indigo-900;
    display: none;
    font-size: 0.875rem;
    list-style: none;
    padding-left: 0;

    @include breakpoint(lg) {
      align-self: start;
      display: block;
      position: sticky;
      top: 4rem;
    }

    li {
      margin-bottom: 0.25rem;
      padding-left: 1.25rem;
      position: relative;
    }

    a {
      border: none;
      color: desaturate($theme-indigo-900, 30%);

      &:hover {
        color: $theme-indigo-700;
      }
    }

    .sub-toggle {
      background-color: transparent;
      border-radius: 8px;
      height: 16px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -8px;
      transition: background-color 0.15s linear;
      width: 16px;

      &:hover {
        background-color: $theme-indigo-100;
      }
    }
  }
}

.breadcrumbs {
  // background-color: rgba($theme-indigo-950, 0.08);
  border-bottom: 1px solid $theme-indigo-100;
  font-size: 0.75rem;
  grid-area: breadcrumbs;
  padding: 1rem 0;

  @include breakpoint(lg) {
    // background: none;
    border: none;
    margin: 1rem 0;
    padding: 0;
  }

  img {
    display: inline;
  }
}

.aside {
  grid-area: aside;
  padding: 1rem 1rem 0;

  @include breakpoint(lg) {
    align-self: start;
    padding: 0 0 0 1rem;
    position: sticky;
    top: 4rem;
  }

  .h5 {
    margin-top: 0;
  }

  .in-page-outline {
    border-left: 4px solid $theme-indigo-100;
    padding-left: 0.75rem;
  
    li {
      color: $gray-500;
      font-size: 0.875rem;
      list-style: none;
      line-height: 1.25;
      margin-bottom: 0.5rem;
    }
  }
}

.main-grid {
  grid-area: main;
  max-width: $measure;
  padding: 0 1rem;

  @include breakpoint(lg) {
    padding: 0;
  }
}

// Grid for side-by-side example

.side-by-side {
  display: grid;
  grid-template-columns: minmax(375px, $measure) minmax(375px, $measure);
  gap: 2rem;
  margin: 0 auto;
}
