// Typography

// To keep examples separate all concept settings are contained within the .concept body class, and all Documentation Markdown settings are in the .gl-markdown body class.

// Concept typescale

.concept {

	// 	Headings

	// See the headings section in _variables.scss for the responsive properties.
	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
		margin-top: 2.5rem;
		text-rendering: optimizelegibility;
	}

	h1 { @include responsive-headers($h1-properties);}
	h2 { @include responsive-headers($h2-properties);}
	h3 { @include responsive-headers($h3-properties);}
	h4 { @include responsive-headers($h4-properties);}
	h5 { @include responsive-headers($h5-properties);}
	h6 { @include responsive-headers($h6-properties);}

	// These declarations are kept separate from and placed after
	// the previous tag-based declarations so that the classes beat the tags in
	// the CSS cascade, and thus <h1 class="h2"> will be styled like an h2.
	.h1 { @include responsive-headers($h1-properties);}
	.h2 { @include responsive-headers($h2-properties);}
	.h3 { @include responsive-headers($h3-properties);}
	.h4 { @include responsive-headers($h4-properties);}
	.h5 { @include responsive-headers($h5-properties);}
	.h6 { @include responsive-headers($h6-properties);}

	p,
	ul,
	ol,
	pre,
	table,
	blockquote {
		font-size: 1rem; // 16px
		font-weight: normal;
		letter-spacing: normal;
		margin-top: 0em;
		margin-bottom: 1.5em;
	}

	ul,
	ol {
		margin-left: 0;
		padding-left: 1em;

		li {
			margin-bottom: 0.5rem;
		}
	}

	ul ul,
	ol ol,
	ul ol,
	ol ul {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}

	b,
	strong,
	em,
	small {
		line-height: 1;
	}

	sup {
		line-height: 0;
		position: relative;
		vertical-align: baseline;
		top: -0.5em;
	}

	sub {
		bottom: -0.25em;
	}

	// Keyboard input

	kbd {
		background-color: $gray-700;
		border-radius: 4px;
		color: $white;
		line-height: 1;
		overflow-wrap: break-word;
		padding: 2px 4px;
	}

	// Highlighted text

	mark {
		background-color: $blue-100;
	}

	// Links

	a {
		border-bottom: 1px solid rgba($purple-700, 0.24);
		color: $purple-700;
		text-decoration: none;
		transition: color 0.15s linear, border-bottom-color 0.15s linear;
		
		&:hover {
			border-bottom: 1px solid $purple-900;
			color: $purple-900;

			code {
				background-color: $theme-indigo-100;
			}
		}
	}

	// Code

	*:not(pre) > code {
		background-color: $gray-50;
		border-radius: 4px;
		line-height: 1;
		overflow-wrap: break-word;
		padding: 2px 4px;
		transition: background-color 0.15s linear;
	}

	pre {
		background-color: desaturate($theme-indigo-950, 20%);
		border-radius: 4px;
		color: $white;
		padding: 1rem;
	}

	// Badge tier

	.badge-tier {
		border-bottom: 1px solid rgba($red-500, 0.32);
		color: $red-500;
		font-size: 0.75rem;
		font-weight: 800;
		text-transform: uppercase;

		&:hover {
			border-bottom-color: $red-700;
			color: $red-700;
		}
	}

	.introduced-in {
		border-left: 4px solid $theme-indigo-200;
		padding-left: 0.75rem;

		p {
			font-size: 0.875rem;
		}
	}
	
	hr {
		border: 0;
		border-top: 1px solid rgba($theme-indigo-900, 0.16);
		height: 0;
		margin-top: 1rem;
		margin-bottom: 1rem;
	
		@include breakpoint(md) {
			margin-top: 2rem;
			margin-bottom: 2rem;
		}
	}
}


// Documentation Markdown typescale

.gl-markdown {
  @include gl-font-size-markdown;
  @include gl-line-height-24;
  @include gl-text-gray-900;
  @include gl-font-regular;
	@include gl-font-weight-normal;
	
	-webkit-font-smoothing: auto;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .gl-h1,
  .gl-h2,
  .gl-h3,
  .gl-h4,
  .gl-h5,
  .gl-h6 {
    @include gl-font-weight-bold;
  }

  h1,
  .gl-h1,
  h2,
  .gl-h2 {
    @include gl-pb-5;
    @include gl-border-b-solid;
    @include gl-border-b-1;
    @include gl-border-b-gray-200;
    @include gl-mb-5;
  }

  h3,
  h4,
  h5,
  h6,
  .gl-h3,
  .gl-h4,
  .gl-h5,
  .gl-h6 {
    @include gl-mt-6;
    @include gl-mb-3;
  }

  h1,
  .gl-h1 {
    @include gl-font-size-markdown-h1;
    @include gl-line-height-32;
    @include gl-fluid-font-size(
      $min: $gl-font-size-markdown-h1-md,
      $max: $gl-font-size-markdown-h1-xl
    );
    @include gl-fluid-line-height($min: $gl-line-height-36, $max: $gl-line-height-52);
    @include gl-mt-0;
  }

  h2,
  .gl-h2 {
    @include gl-font-size-markdown-h2;
    @include gl-line-height-28;
    @include gl-fluid-font-size(
      $min: $gl-font-size-markdown-h2-md,
      $max: $gl-font-size-markdown-h2-xl
    );
    @include gl-fluid-line-height($min: $gl-line-height-28, $max: $gl-line-height-36);
    @include gl-mt-6;
  }

  h3,
  .gl-h3 {
    @include gl-font-size-markdown-h3;
    @include gl-line-height-24;
    @include gl-fluid-font-size(
      $min: $gl-font-size-markdown-h3-md,
      $max: $gl-font-size-markdown-h3-xl
    );
    @include gl-fluid-line-height($min: $gl-line-height-24, $max: $gl-line-height-28);
  }

  h4,
  .gl-h4 {
    @include gl-font-size-markdown;
    @include gl-line-height-20;
  }

  h5,
  .gl-h5,
  h6,
  .gl-h6 {
    @include gl-font-size-markdown-sm;
    @include gl-line-height-20;
  }

  h6,
  .gl-h6 {
    @include gl-text-gray-700;
  }

  p,
  .gl-paragraph {
    @include gl-mt-0;
    @include gl-mb-0;

    + p,
    + .gl-paragraph {
      @include gl-mt-5;
    }

    &.sm {
      @include gl-font-size-markdown-sm;
      @include gl-line-height-20;
    }
  }

  .sm {
    @include gl-font-size-markdown-sm;
    @include gl-line-height-20;
  }

  .monospace {
    @include gl-font-monospace;
    @include gl-font-size-monospace-lg;
    @include gl-line-height-24;

    &.sm {
      @include gl-font-size-monospace;
      @include gl-line-height-20;
    }
	}
	
	hr {
		border: 0;
		border-top: 1px solid $gray-200;
		height: 0;
		margin-top: 1rem;
		margin-bottom: 1rem;
	
		@include breakpoint(md) {
			margin-top: 2rem;
			margin-bottom: 2rem;
		}
	}

	// Links

	a {
		color: #1b69b6;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}

	// Badge tier

	.badge-tier {
		color: $red-500;
		font-size: 0.75rem;
		font-weight: 800;
		line-height: 1;
		text-decoration: underline;
		text-transform: uppercase;

		&:hover {
			border-bottom-color: $red-700;
			color: $red-700;
		}
	}

	.introduced-in {
		border-left: 4px solid $theme-indigo-200;
		padding-left: 0.75rem;

		p {
			font-size: 0.875rem;
		}
	}

	// Code

	*:not(pre) > code {
		background-color: $gray-50;
		border-radius: 4px;
		line-height: 1;
		overflow-wrap: break-word;
		padding: 2px 4px;
		transition: background-color 0.15s linear;
	}

	pre {
		background-color: #2b303b;
		border-radius: 4px;
		color: #eff1f5;
		padding: 1rem;
	}
}
