// Variables

// Breakpoints
$bp-xs: 0 !default;
$bp-sm: 544px !default;
$bp-md: 768px !default;
$bp-lg: 992px !default;
$bp-xl: 1200px !default;

$measure: 48rem;

// Colors
$green-50: #ecf4ee !default;
$green-100: #c3e6cd !default;
$green-200: #91d4a8 !default;
$green-300: #52b87a !default;
$green-400: #2da160 !default;
$green-500: #108548 !default;
$green-600: #217645 !default;
$green-700: #24663b !default;
$green-800: #0d532a !default;
$green-900: #0a4020 !default;
$green-950: #072b15 !default;

$blue-50: #e9f3fc !default;
$blue-100: #cbe2f9 !default;
$blue-200: #9dc7f1 !default;
$blue-300: #63a6e9 !default;
$blue-400: #428fdc !default;
$blue-500: #1f75cb !default;
$blue-600: #1068bf !default;
$blue-700: #0b5cad !default;
$blue-800: #064787 !default;
$blue-900: #033464 !default;
$blue-950: #002850 !default;

$orange-50: #fdf1dd !default;
$orange-100: #f5d9a8 !default;
$orange-200: #e9be74 !default;
$orange-300: #d99530 !default;
$orange-400: #c17d10 !default;
$orange-500: #ab6100 !default;
$orange-600: #9e5400 !default;
$orange-700: #8f4700 !default;
$orange-800: #703800 !default;
$orange-900: #5c2900 !default;
$orange-950: #421f00 !default;

$red-50: #fcf1ef !default;
$red-100: #fdd4cd !default;
$red-200: #fcb5aa !default;
$red-300: #f57f6c !default;
$red-400: #ec5941 !default;
$red-500: #dd2b0e !default;
$red-600: #c91c00 !default;
$red-700: #ae1800 !default;
$red-800: #8d1300 !default;
$red-900: #660e00 !default;
$red-950: #4d0a00 !default;

$purple-50: #f4f0ff !default;
$purple-100: #e1d8f9 !default;
$purple-200: #cbbbf2 !default;
$purple-300: #ac93e6 !default;
$purple-400: #9475db !default;
$purple-500: #7b58cf !default;
$purple-600: #694cc0 !default;
$purple-700: #5943b6 !default;
$purple-800: #453894 !default;
$purple-900: #2f2a6b !default;
$purple-950: #232150 !default;

$white: #fff !default;
$gray-10: #fafafa !default;
$gray-50: #f0f0f0 !default;
$gray-100: #dbdbdb !default;
$gray-200: #bfbfbf !default;
$gray-300: #999 !default;
$gray-400: #868686 !default;
$gray-500: #666 !default;
$gray-600: #5e5e5e !default;
$gray-700: #525252 !default;
$gray-800: #404040 !default;
$gray-900: #303030 !default;
$gray-950: #1f1f1f !default;

// GitLab themes
$theme-indigo-50: #f1f1ff !default;
$theme-indigo-100: #dbdbf8 !default;
$theme-indigo-200: #c7c7f2 !default;
$theme-indigo-300: #a2a2e6 !default;
$theme-indigo-400: #8181d7 !default;
$theme-indigo-500: #6666c4 !default;
$theme-indigo-600: #5252b5 !default;
$theme-indigo-700: #41419f !default;
$theme-indigo-800: #303083 !default;
$theme-indigo-900: #222261 !default;
$theme-indigo-950: #14143d !default;

// Typography
$font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !default;

$font-size-sm: 0.875rem;

// Headings
// For the system of .h1-.h6 classes to properly overwrite the base tag, you must include all properties transformed
// at every breakpoint, even if those properties are the default or assigned at an earlier breakpoint.

// Close to a 1.2 (minor third) scale at the LG breakpoint
$h1-properties: (
  color: $theme-indigo-900,
  font-weight: 600,
  margin-top: 0,
  text-transform: none,
  $bp-xs : (
    font-size : 2rem,         // 32px
    line-height : 1,          // 32px
    margin-bottom: 1.5rem,    // 24px
  ),
  $bp-sm : (
    font-size : 2rem,         // 32px
    line-height : 1,          // 32px
    margin-bottom: 1.5rem,    // 24px
  ),
  $bp-md : (
    font-size : 2.5rem,       // 40px
    line-height : 1,          // 40px
    margin-bottom: 1.5rem,    // 24px
  ),
  $bp-lg : (
    font-size : 2.5rem,       // 40px
    line-height : 1,          // 40px
    margin-bottom: 1.5rem,    // 24px
  )
) !default;

$h2-properties: (
  color: $theme-indigo-900,
  font-weight: 600,
  $bp-xs : (
    font-size : 1.5rem,       // 24px
    line-height : 1.25,       // 30px
    margin-bottom: 1.5rem,    // 24px
  ),
  $bp-sm : (
    font-size : 1.5rem,       // 24px
    line-height : 1.25,       // 30px
    margin-bottom: 1.5rem,    // 24px
  ),
  $bp-md : (
    font-size : 2rem,         // 32px
    line-height : 1,          // 32px
    margin-bottom: 1.5rem,    // 24px
  ),
  $bp-lg : (
    font-size : 2rem,         // 32px
    line-height : 1,          // 32px
    margin-bottom: 1.5rem,    // 24px
  )
) !default;

$h3-properties: (
  color: $theme-indigo-900,
  font-weight: 600,
  text-transform: none,
  $bp-xs : (
    font-size : 1.25rem,      // 20px
    line-height : 1.4,        // 28px
    margin-bottom: 1rem,   // 20px
  ),
  $bp-sm : (
    font-size : 1.25rem,      // 20px
    line-height : 1.4,        // 28px
    margin-bottom: 1rem,   // 20px
  ),
  $bp-md : (
    font-size : 1.5rem,       // 24px
    line-height : 1.273,      // 28px
    margin-bottom: 1rem,   // 20px
  ),
  $bp-lg : (
    font-size : 1.5rem,       // 24px
    line-height : 1.273,      // 28px
    margin-bottom: 1rem,      // 16px
  )
) !default;

$h4-properties: (
  color: $theme-indigo-900,
  text-transform: none,
  $bp-xs : (
    font-size : 1rem,         // 16px
    line-height : 1.5,        // 24px
    margin-bottom: 0.75rem,      // 12px
  ),
  $bp-sm : (
    font-size : 1rem,         // 16px
    line-height : 1.5,        // 24px
    margin-bottom: 0.75rem,      // 12px
  ),
  $bp-md : (
    font-size : 1.125rem,     // 18px
    line-height : 1.375,      // 22px
    margin-bottom: 0.75rem,      // 12px
  ),
  $bp-lg : (
    font-size : 1.125rem,     // 18px
    line-height : 1.375,      // 22px
    margin-bottom: 0.75rem,      // 12px
  )
) !default;

$h5-properties: (
  color: $theme-indigo-900,
  font-weight: 700,
  text-transform: none,
  $bp-xs : (
    font-size : 0.875rem,     // 14px
    line-height : 1.429,      // 20px
    margin-bottom: 0.5rem,      // 8px
  ),
  $bp-sm : (
    font-size : 0.875rem,     // 14px
    line-height : 1.429,      // 20px
    margin-bottom: 0.5rem,      // 8px
  ),
  $bp-md : (
    font-size : 1rem,         // 16px
    line-height : 1.5,        // 24px
    margin-bottom: 0.5rem,      // 8px
  ),
  $bp-lg : (
    font-size : 1rem,         // 16px
    line-height : 1.5,        // 24px
    margin-bottom: 0.5rem,      // 8px
  )
) !default;

$h6-properties: (
  color: $theme-indigo-900,
  text-transform: none,
  $bp-xs : (
    font-size : 0.875rem,     // 14px
    line-height : 1.25,       // 17.5px
    margin-bottom : 0.25rem,  // 4px
  ),
  $bp-sm : (
    font-size : 0.875rem,     // 14px
    line-height : 1.25,       // 17.5px
    margin-bottom : 0.25rem,  // 4px
  ),
  $bp-md : (
    font-size : 0.875rem,     // 14px
    line-height : 1.25,       // 17.5px
    margin-bottom : 0.25rem,  // 4px
  ),
  $bp-lg : (
    font-size : 0.875rem,     // 14px
    line-height : 1.25,       // 17.5px
    margin-bottom : 0.25rem,  // 4px
  )
) !default;


// Gl Markdown

// Fonts
$gl-monospace-font: 'Menlo', 'DejaVu Sans Mono', 'Liberation Mono', 'Consolas', 'Ubuntu Mono',
  'Courier New', 'andale mono', 'lucida console', monospace;
$gl-regular-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Noto Sans', Ubuntu,
  Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';

$gl-fonts: (
  'monospace': $gl-monospace-font,
  'regular': $gl-regular-font,
);

// Text
$gl-font-weight-normal: 400;
$gl-font-weight-bold: 600;

$gl-font-weights: (
  'normal': $gl-font-weight-normal,
  'bold': $gl-font-weight-bold,
);

$gl-font-size-monospace: px-to-rem(13px);
$gl-font-size-monospace-lg: px-to-rem(15px);
$gl-font-size-monospace-sm: px-to-rem(11px);

// Misc mixins

@mixin gl-text-gray-700 {
  color: $gray-700;
}

@mixin gl-text-gray-900 {
  color: $gray-900;
}

@mixin gl-border-b-solid($hover: true) {
  border-bottom-style: solid;
}

@mixin gl-border-b-1 {
  border-bottom-width: $gl-border-size-1;
}

@mixin gl-border-b-gray-200 {
  border-bottom-color: $gray-200;
}

@mixin gl-fluid-font-size($min, $max) {
  @include gl-responsive-property('font-size', $min, $max);
}

@mixin gl-fluid-line-height($min, $max) {
  @include gl-responsive-property('line-height', $min, $max);
}

@mixin gl-responsive-property(
  $property,
  $property-min,
  $property-max,
  $breakpoint-min: $breakpoint-md,
  $breakpoint-max: $breakpoint-xl
) {
  $breakpoint-range: ($breakpoint-max - $breakpoint-min) / 1rem;
  $property-range: ($property-max - $property-min) / 1rem;

  @media (min-width: $breakpoint-min) {
    #{$property}: calc(
      #{$property-min} + #{$property-range} * ((100vw - #{$breakpoint-min}) / #{$breakpoint-range})
    );
  }

  @media (min-width: $breakpoint-max) {
    #{$property}: $property-max;
  }
}

$gl-border-size-1: 1px;

// Responsive breakpoints
$breakpoint-sm: px-to-rem(576px);
$breakpoint-md: px-to-rem(768px);
$breakpoint-lg: px-to-rem(992px);
$breakpoint-xl: px-to-rem(1200px);

// Line height
$gl-line-height-16: px-to-rem(16px);
$gl-line-height-20: px-to-rem(20px);
$gl-line-height-24: px-to-rem(24px);
$gl-line-height-28: px-to-rem(28px);
$gl-line-height-32: px-to-rem(32px);
$gl-line-height-36: px-to-rem(36px);
$gl-line-height-44: px-to-rem(44px);
$gl-line-height-52: px-to-rem(52px);

// Layout
$grid-size: px-to-rem(8px);
$gl-spacing-scale-1: 0.25 * $grid-size;
$gl-spacing-scale-2: 0.5 * $grid-size;
$gl-spacing-scale-3: $grid-size;
$gl-spacing-scale-4: 1.5 * $grid-size;
$gl-spacing-scale-5: 2 * $grid-size;
$gl-spacing-scale-6: 3 * $grid-size;
$gl-spacing-scale-7: 4 * $grid-size;
$gl-spacing-scale-8: 5 * $grid-size;
$gl-spacing-scale-9: 6 * $grid-size;
$gl-spacing-scale-10: 7 * $grid-size;
$gl-spacing-scale-11: 8 * $grid-size;
$gl-spacing-scale-11-5: 9 * $grid-size;
$gl-spacing-scale-12: 10 * $grid-size;
$gl-spacing-scale-13: 12 * $grid-size;
$gl-spacing-scale-15: 15 * $grid-size;
$gl-spacing-scale-20: 20 * $grid-size;

// Markdown typescale

// default (min-width: 0)
$gl-font-size-markdown: px-to-rem(16px);
$gl-font-size-markdown-sm: px-to-rem(14px);

$gl-font-size-markdown-h1: px-to-rem(28px);
$gl-font-size-markdown-h2: px-to-rem(23px);
$gl-font-size-markdown-h3: px-to-rem(19px);

// breakpoint (min-width: 768px)
$gl-font-size-markdown-h1-md: px-to-rem(31px);
$gl-font-size-markdown-h2-md: px-to-rem(25px);
$gl-font-size-markdown-h3-md: px-to-rem(20px);

// breakpoint (min-width: 1200px)
$gl-font-size-markdown-h1-xl: px-to-rem(45px);
$gl-font-size-markdown-h2-xl: px-to-rem(32px);
$gl-font-size-markdown-h3-xl: px-to-rem(23px);
