<!doctype html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ "/assets/css/style.css"  | prepend: site.baseurl }}">
	</head>
	<body class="site-wrap concept">
		{% include header.html %}
		<div id="content" class="container">
      {% include sidebar.html %}
      {% include breadcrumbs.html %}
      {% include aside.html %}
			<main class="main-grid">
        {{ content }}
      </main>
    </div>
	</body>
</html>
